/* CSS declarations go here */

div.stats {
  background-color: white;
  margin: 50px;
}

div#babyCard button.edit {
  right: 10px;
}

img#logo {
  height: 80px;
  padding-top: 25px;
  padding-left: 30px;
}

div.fc-time-grid-container {
  min-height: 350px;
}

div.ct-chart {

}

section.admin-nav {
  margin: 0 auto;
}

div.layout {
  font-family: sans-serif;
  background-color: #d3dfee;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

div.layout-user {
  font-family: sans-serif;
  background-color: #d3dfee;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.wall {
  margin: 20px;
  padding: 20px;
  border: 1pt white solid;
  border-radius: 10px;
}

section.gotbaby-wall {
  padding-top: 10px;
  background-color: rgba(179, 187, 250, 0.5);
  background-image: url("../images/texture.png");
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  font-family: "Lucida Console", Courier, monospace; 
  min-height: 550pt;
}

section.gotbaby-wall:hover {
  background-image: url("../images/texture-clear.png");
}

section.button-boxes {
  padding-bottom: 30px;
}

.big-button h1 {
  font-size: 40pt;
  padding: 20pt;
}

.big-button a.btn {
  background-color: rgba(255,255,255,0.7);
  border: 2pt #800080 solid;
  border-radius: 20px;
  font-size: 3.5em;
  font-weight: 100;
  color: #800080;
  margin-bottom: 10px;
}

.small-buttons button {
  border-radius: 100%;
  border: 1pt silver solid;
  height: 65px;
  width: 65px;
  color: #800080;
}

button#down {
  padding-left: 8px;
}

#navbar .icon {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  font-size: 45pt;
}

.icon {
  font-size: 40pt;
}

.icon-bar {
  color: black;
}

.navbar {
  align-content: center;
  color: white;
}

.login, .login:visited {
  border: 2pt #800080 solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 2.0rem;
  color: white;
  background-color: rgba(255,255,255,0.7);
}

#login-buttons a {
  color: #800080;
}

.brand {
  padding: 10px;
  font-size: 2.0rem;
  color: white;
}

.brand-box {
  float: right;
  border: 1pt solid white;
  border-radius: 10px;
}

.user-image {
  width: 150px;
  height: 115px;
}

.welcome-link {
  background-color: rgba(255,255,255,0.8);
  border: 2pt #800080 solid;
  border-radius: 10px; 
  align-self: center; 
  padding: 15px 0;
  margin: 20px 0;
}

h5.welcome-link-title {
  font-size: 2.5rem;
  color: #800080;
}

.ui-buttons {
  text-align: center;
}

.ui-button {
  margin: 5px 0;
}

@media (max-width: 300px) {
  h5.welcome-link-title {
    font-size: 1.7rem;
  }
}

.glyphicon {
    font-size: 50px;
    font-color: white;
}

.container {
  align-self: center;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #33ccff solid 1.5px;
}

ul.red-border {
  border-left: #ff3300 solid 2.5px;
}

input.red-border {
  border-right: #ff3300 solid 2.5px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


div.baby div.item {
  width: 150px;
  height: 200px;
}


/********* babyCard ***********/


#babyCard {
  padding: 20px;
  margin-bottom: 10px;
  max-width: 50vw;
  background-color: pink;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
  min-width: 275px;
}

#babyCard img {
  width: 50%;
  max-width: 150px;
  border-radius: 150px;
  border: 2px solid #ecf0f1;
}