#dynamic-profile h1 {
  margin-bottom: 40px;
}
#dynamic-profile .main.container {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  padding: 50px;
}

#dynamic-profile .ui.steps {
  margin-bottom: 40px;
}